<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/essays/" />
    <link rel="canonical" href="/essays/" />
  </head>
  <body>
    <p>Redirecting to <a href="/essays/">essays</a>...</p>
  </body>
</html>